@page "/"
@inject NavigationManager Nav

<GridRow Class="block">
    <GridCol Style="text-align: center" Xs="24" Sm="24" Md="24" Lg="11" Xl="11" Xxl="11">
        <Image Src="iOS_Club_LOGO.png" Preview="false" Style="width:60%;text-align: center"/>
    </GridCol>
    <GridCol Xs="24" Sm="24" Md="24" Lg="13" Xl="13" Xxl="13">
        <Flex Vertical Justify="space-between" Style="height: 100%">
            <div>
                <div class="gradient-text phone-center">Old8Lang</div>
                <Title Level="3" Class="phone-center">简单，从现在开始</Title>
                <Paragraph Type="secondary" Class="phone-center" Style="font-size: 22px">
                    return YourFirstCode()
                </Paragraph>
            </div>
            <div class="phone-center">
                <Space Size=@(("8", "8")) Wrap>
                    <SpaceItem>
                        <Button OnClick="@(() => Nav.NavigateTo("/Grammar/First"))" 
                                Type="@ButtonType.Primary" Class="btn-group">🔥 快速入手</Button>
                    </SpaceItem>
                    <SpaceItem>
                        <Button OnClick="@(() => Nav.NavigateTo("https://gitee.com/XAUATiOSClub/Old8Lang/releases/tag/v0.8"))" 
                                Type="@ButtonType.Primary" Class="btn-group">🧳 最新下载</Button>
                    </SpaceItem>
                    <SpaceItem>
                        <Button OnClick="@(() => Nav.NavigateTo("/TryCode"))"
                                Type="@ButtonType.Primary" Class="btn-group">✈️ 在线尝试</Button>
                    </SpaceItem>
                </Space>
            </div>
        </Flex>
    </GridCol>
</GridRow>

<style>
    .gradient-text {
        background: -webkit-linear-gradient(-64deg, #f9bf65, #ffab6b, #ff9977, #fc8986, #ef7e95, #e47da6, #d37fb5, #bf83c1, #ab8dcf, #9597d8, #7fa0dc, #6ca7da);
        -webkit-background-clip: text; /*将设置的背景颜色限制在文字中*/
        -webkit-text-fill-color: transparent; /*给文字设置成透明*/
        font-size: 56px;
        font-weight: bold;
    }

    .block {
        padding: 40px;
        /*min-height: calc(100vh - 64px);*/
    }

    .phone-center{}
    
    @@media screen and (max-width: 992px) {
        .phone-center{
            text-align: center !important;
        }
    }

    @@media screen and (max-width: 768px) {
        .gradient-text{
            font-size: 36px;
        }
    }
    
    .btn-group{
        border-radius: 10px;
    }
    
</style>